{% extends 'base.html.twig' %}



{% block body %}

<div class="container m-auto text-center mt-4">
    <h1 class="mt-4 border-bottom">Edit Task</h1>
    {{ include('task/_form.html.twig', {'button_label': 'Update'}) }}
</div>
{% endblock %}
