{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}

    <div class="container m-auto text-center mt-4">
        <h1>Create new Task</h1>
        {{ include('task/_form.html.twig') }}
    </div>

{% endblock %}
